h1 {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.accordion-button {
  font-weight: bold;
}

.directive {
  font-size: 20px;
}

p {
  font-size: large;
}

.select-color-directive {
  display: flex;
  align-items: center;
}

#color-select {
  margin-left: 20px;
}

#show-select{
  margin-bottom: 20px;
  width: 300px;
}
