<div class="create-user">
  <!--ng content project content from a parent component to a child component (<h2> CREATE A NEW USER</h2>) -->
  <ng-content></ng-content>
  <div class="col-xs-12">
    <div class="input-field">
      <label>First Name</label>
      <input
        type="text"
        class="form-control"
        #firstName>
    </div>
    <div class="input-field">
      <label>Last Name </label>
      <input
        type="text"
        class="form-control"
        #lastName>
    </div>
    <div class="input-field">
      <label>Email Address</label>
      <input
        type="text"
        class="form-control"
        #email>
    </div>
    <button
      class="btn btn-primary"
      (click)="createUserClick(email)"
    >Add User
    </button>
  </div>
</div>
